<div class="py-8 px-4 md:py-16 md:px-8 mb-8 bg-gray-200 rounded">
<div class="container mx-auto sm:px-4">
  <h1>Welcome!</h1>
  <p>Sign up to get started.</p>
  <p>
    <%= link_to new_user_path, class: 'inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600 py-3 px-4 leading-tight text-xl' do %>
      Sign Up &raquo;
    <% end %>
  </p>
</div>